<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Equation System Solver</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
 <script type="text/javascript"
  src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js">
  </script>
</head>
<body>
{% include "includes/_header.html" %}
<section class="content">
    {% include "includes/_navbar.html" %}
    <div class="block-body">
        {% block body %}{% endblock %}
    </div>
</section>
{% include "includes/_footer.html" %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<script src="../static/js/graph.js"></script>

{#<script>#}
{#var form_count = {{formset.total_form_count}};#}
{#$('#add_form').click(function() {#}
{#    var new_form = '{{formset.empty_form|escapejs}}'.replace(/__prefix__/g, form_count);#}
{#    $('#forms').append(new_form)#}
{#    form_count++;#}
{#    $('#id_form-TOTAL_FORMS').val(form_count);#}
{#    console.log(form_count)#}

{#</script>#}
</body>
</html>