@font-face {
    font-family: teenspir;
    src: url(../fonts/teenspir.ttf);
}

@font-face {
    font-family: Arista;
    src: url(../fonts/Arista.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    width: 100vw;
    height: 130px;
    background-image: url("../img/xYiTisbsp2HZPVupAZoNYQ-320-80.jpg");
    background-size: contain;
    color: white;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arista, serif;
}

header > *, footer > * {
    margin: 0;
    padding: 0;
}


footer {
    width: 100vw;
    height: 60px;
    background-image: url("../img/header_mathlearningcenter_1549x560.jpeg");
    background-size: 350px, contain;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: "Number Cruncher", serif;
}

/*#region Main*/
.block-body {
    height: calc(100vh - 230px);
    width: calc(100vw - 240px);
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid rgba(255, 0, 0, 0.7);
}

.content {
    margin: 0;
    padding: 0;
    height: calc(100vh - 190px);
    width: 100vw;
    background-image: url("../img/navbar_back.jpg");
    background-size: 200px, contain;
    overflow: hidden;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: url("../img/navbar_back.jpg");
    background-size: 200px, contain;
    /*background-position: -20% 0;*/
    /*object-fit: cover;*/
    position: fixed;
    height: calc(100vh - 230px);
    overflow: auto;
    font-family: teenspir, serif;
    font-size: 25px;
}

.sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-btn {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.active, .nav-btn:hover {
    background-image: url("../img/navbar_hover.png");
    background-size: 120%, 70%;
    background-position: -16% 5%;
    box-shadow: 0 0 15px 4px white inset;
}

/*#endregion*/

/*#region Solve*/

.solve {
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100% - 440px) auto;
    grid-row-gap: 10px;
    /*overflow-y: auto;*/


}

.graphic {
    width: 600px;
    height: 400px;
    visibility: hidden;
}

.graph-btn {
    padding: 3px 5px 3px 5px;
    border: 1px black solid;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #db6a24;
    margin-right: 3px;
    margin-top: 3px;
}

.graph-btn > img {
    height: 20px;
    margin-right: 3px;
}

.eq-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.answers > p > span {
    font-size: 17px;
    color: #17400c;
}

/*.answers > p{*/
/*    margin: 0;*/
/*}*/

.graph-content {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.buttons {
    /*margin: 1em 0 1em;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.buttons > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.buttons > div > button {
    padding: 3px 5px 3px 5px;
    border: 1px black solid;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-btn {
    background-color: #4fae4c;
    margin-right: 3px;
}

.del-btn {
    background-color: #f74545;
    margin-right: 3px;

}

.clear-btn {
    color: red !important;
}

.buttons > div > button > img {
    height: 20px;
    margin-right: 3px;
}

#form1 {
    width: calc(100% - 230px);
    height: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 65px;
}

.solve-btn {
    margin-top: 5px;
    width: 205px;
    padding: 3px 5px 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solve-btn > img {
    height: 20px;
    margin-right: -5px;
}

.pdf-btn {
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    height: min-content;
    width: min-content;
    margin-left: auto;
    margin-right: 7px;
}

.pdf-btn > img {
    height: 30px;
}

.pdf-btn > p {
    margin: 0;
}

.pdf-btn:hover {
    transition: 0.3s;
    color: red;
}

.func-btns {
    height: 153px;
    width: 230px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    margin-top: 15px;
}

.func-btns > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}


.func-btns > div > button {
    height: 35px;
    width: 50px;
    margin: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.func-btns > div > button > span > span:nth-child(2) {
    margin: 0;
}

/*.dcg-exppanel-outer{*/
/*    width: 200px !important;*/
/*}*/
/*.dcg-grapher{*/
/*    left: 200px !important;*/
/*    width: 250px !important;*/
/*}*/

/*.dcg-graph-inner{*/
/*    width: 250px !important;*/
/*}*/
/*#endregion*/


@media screen and (max-width: 840px) {
    /*#region Main*/
    .navbar {
        width: 100vw;
        height: 64px;
        position: relative;
        /*background-size:  200px, contain;*/
    }

    .nav-btn {
        float: left;
        width: 90px;
    }

    .active, .nav-btn:hover {
        background-size: 200%, 70%;
        background-position: -20% 3%;
    }

    .content {
        margin-left: 0;
        width: 100vw;
    }

    .block-body {
        padding: 15px;
        margin-left: 0;
        height: calc(100vh - 284px);
        width: calc(100vw - 30px);
        border-top: 2px solid rgba(255, 0, 0, 0.7);
        border-left: none;

    }


    /*#endregion*/
    .eq-content {
        width: calc(100vw - 30px);

        flex-direction: column;
    }

    #form1 {
        order: 2;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .func-btns {
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 15px;
        order: 1;
    }

    .func-btns > div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .func-btns > div > button {
        margin-right: 5px;
        margin-top: 5px;
    }

    .func-btns > div > div {
        display: none;
    }

    .answers {
        text-align: center;
    }

    .graphic {
        width: 100%;
        height: 300px;
    }

}

@media screen and (max-width: 520px) {
    .navbar {
        height: 256px;
        overflow: hidden;
    }
    .nav-btn{
        width: 100%;
    }

    .active, .nav-btn:hover {
        background-size: 240px, contain;
        background-position: 6px 3px;
    }

    .sidebar > li > a {
        text-align: center;
        float: none;

    }

    .block-body {
        padding: 10px;
        height: calc(100vh - 468px);
        width: calc(100vw - 20px);
    }

    #form1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .func-btns {
        height: auto;
    }

    .answers {
        text-align: left;
        order: 3;
    }
}
