@font-face {
    font-family: teenspir;
    src: url(../fonts/teenspir.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    width: 100vw;
    height: 130px;
    background-image: url("../img/xYiTisbsp2HZPVupAZoNYQ-320-80.jpg");
    background-size: contain;
    color: white;
}

header > *, footer > *{
    margin: 0;
    padding: 0;
    font-family: "teenspir";
}


footer {
    width: 100vw;
    height: 100px;
    background-image: url("../img/header_mathlearningcenter_1549x560.jpeg");
    background-size: contain;
    color: white;
}

.block-body{
    height: calc(100vh - 270px);
    width: calc(100vw - 240px);
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid rgba(255, 0, 0, 0.7);
}

.content {
    margin: 0;
    padding: 0;
    height: calc(100vh - 230px);
    width: 100vw;
    background-image: url("../img/navbar_back.jpg");
    background-size:  200px, contain;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: url("../img/navbar_back.jpg");
    background-size: contain;
    /*background-position: -20% 0;*/
    /*object-fit: cover;*/
    position: fixed;
    height: calc(100vh - 230px);
    overflow: auto;
    font-family: "teenspir";
    font-size: 25px;
}

.sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-btn {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.active, .nav-btn:hover {
    background-image: url("../img/navbar_hover.png");
    background-size: 120%, 70%;
    background-position: -16% 5%;
    box-shadow: 0 0 15px 4px white inset;
}


/*#region Solve*/

.solve{
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100% - 431px) 421px;
    grid-row-gap: 10px;
    overflow-y: auto;



}

.graphic{
    width: 600px;
    height: 400px;
    visibility: hidden;
}

.eq-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}
.answers{
    margin-left: 30px;
    margin-top: -10px;
}

.graph-content{
    height: 100%;
    width: 100%;
}

.buttons{
    margin: 1em 0 1em;

}

#form1{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px;
}

.btn-solve{
    height: 20px;
    width: 100px;
}

/*.dcg-exppanel-outer{*/
/*    width: 200px !important;*/
/*}*/
/*.dcg-grapher{*/
/*    left: 200px !important;*/
/*    width: 250px !important;*/
/*}*/

/*.dcg-graph-inner{*/
/*    width: 250px !important;*/
/*}*/
/*#endregion*/


@media screen and (max-width: 840px) {
    .navbar {
        width: 100vw;
        height: 50px;
        position: relative;
    }

    .sidebar > li > a {
        float: left;
    }

    .content {
        margin-left: 0;
    }

    .block-body{
        padding: 15px;
        margin-left: 0;
        height: calc(100vh - 310px);
        width: calc(100vw - 30px);
    }
}

@media screen and (max-width: 400px) {
    .navbar{
        height: 200px;
    }
    .sidebar > li > a {
        text-align: center;
        float: none;
    }
    .block-body{
        padding: 10px;
        height: calc(100vh - 450px);
        width: calc(100vw - 20px);
    }
}
